<div id="article-<%= article.id %>" class="article">
  <div class="container px-0">
    <%= image_tag article.picture.gallery.url %>
    <div class="user-info py-3">
      <span class="user-name px-2"><%= article.user.name %></span>
    </div>
    <hr>
    <div class="p-3 article-info">
      <div class="article-menu mb-2">
        <div id="like-form-<%= article.id %>">
          <% if current_user.liked?(article) %>
            <%= render 'likes/unlike', article: article %>
          <% else %>
            <%= render 'likes/like', article: article %>
          <% end %>
        </div>
      </div>
      <div class="likes-count mb-2">
        <%= render 'likes/liked_by', article: article %>
        <ul class="user-list">
        </ul>
      </div>
      <hr>
      <div class="comments">
        <%= render 'comments/comments', article: article %>
        <hr>
        <%= render 'comments/comment_form', article: article %>
      </div>
    </div>
  </div>
</div>
