<h1>アカウント設定</h1>
<div class="px-3">
  <%= form_for(@user, url: user_path(@user.id), method: :patch) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <%= f.label :name, "アカウント名" %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :display_name, "プロフィールに表示する名前" %>
      <%= f.text_field :display_name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :picture, "プロフィール画像" %>
      <% if not @user.picture.blank? %>
        <%= image_tag @user.picture.thumb.url, class: "img-fluid" %>
      <% end %>
      <%= f.file_field :picture, accept: 'image/jpeg,image/png',
        class: "form-control-file"%>
    </div>
    <div class="form-group">
      <%= f.label :email, "メールアドレス" %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, "パスワード再入力" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>

    <%= f.submit "保存", class: "btn btn-primary" %>
  <% end %>
</div>
