<div class="container">
  <div class="user-profile row align-items-center mt-2 mb-4">
    <div class="user-picture col-4 p-1">
      <% if not @user.picture.blank? %>
        <%= image_tag @user.picture.thumb.url, class: "img-fluid" %>
      <% end %>
    </div>
    <div class="profile col-8 p-2">
      <div class="profile-header mb-2 d-flex align-items-center">
        <div class="user-name flex-grow-1">
          <h2><%= @user.name %></h2>
        </div>
        <% if @user.id == current_user.id %>
          <%= link_to accounts_edit_path,
            class: "config-button btn btn-light p-1" do %>
            <i class="fas fa-cog"></i>プロフィールを編集
          <% end %>
        <% end %>
      </div>
      <div class="display-name mb-3">
        <%= @user.display_name %>
      </div>
      <div class="relations w-auto d-flex justify-content-between">
        <div class="articles d-flex flex-column align-items-center">
          <div class="count"><%= @user.articles.count %></div>
          <div class="label">投稿</div>
        </div>
        <div class="followers d-flex flex-column align-items-center">
          <div class="count">NN</div>
          <div class="label">フォロワー</div>
        </div>
        <div class="following d-flex flex-column align-items-center">
          <div class="count">NN</div>
          <div class="label">フォロー中</div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="user-articles container-fluid">
  <% @user.articles.each_slice(3) do |articles_chunk| %>
    <div class="row mb-1 align-items-center">
      <% articles_chunk.each do |article| %>
        <div class="article col-4 pl-0 pr-1">
          <%= form_with(url: article_path(article.id), method: :get) do |f| %>
            <%= hidden_field_tag :id, article.id %>
            <button class="article-detail-button" type="button">
              <%= image_tag article.picture.thumb.url, class: "img-fluid" %>
            </button>
          <% end %>
        </div>

      <% end %>
    </div>
  <% end %>
</div>
<%= render 'shared/article_detail_modal' %>
