<div id="post-<%= post.id %>" class="post">
  <div class="user-info col py-3">
    <span class="user-name px-2"><%= post.user.name %></span>
  </div>
  <%= image_tag post.picture.url %>
  <div class="p-3">
    <div class="post-menu mb-2">
      <div id="like-form-<%= post.id %>">
        <% if current_user.liked?(post) %>
          <%= render 'likes/unlike', post: post %>
        <% else %>
          <%= render 'likes/like', post: post %>
        <% end %>
      </div>
    </div>
    <div class="likes-count mb-2">
      <a href="#">いいね！0件</a>
    </div>
    <div class="comments">
    </div>
  </div>
</div>
