<div id="post-<%= post.id %>" class="post">
  <div class="container">
    <div class="w-75 col">
      <%= image_tag post.picture.url %>
    </div>
    <div class="col">
      <div class="user-info py-3">
        <span class="user-name px-2"><%= post.user.name %></span>
      </div>
      <hr>
      <div class="p-3 post-info">
        <div class="post-menu mb-2">
          <div id="like-form-<%= post.id %>">
            <% if current_user.liked?(post) %>
              <%= render 'likes/unlike', post: post %>
            <% else %>
              <%= render 'likes/like', post: post %>
            <% end %>
          </div>
        </div>
        <div class="likes-count mb-2">
          <%= render 'likes/liked_by', post: post %>
          <ul class="user-list">
          </ul>
        </div>
        <hr>
        <div class="comments">
          <%= render 'comments/comments', post: post %>
          <hr>
          <%= render 'comments/comment_form', post: post %>
        </div>
      </div>
    </div>
  </div>
</div>
